<h2>
  <%= current_task %> 

  <% if logged_in? %>
    <% form_tag favorite_task_path, :id => 'favorite_task' do %>
      <input type="submit" value="<%= current_user.favorited?(current_task) ? :unfavorite : :favorite! %>" />
    <% end %>
  <% end %>
</h2>

By <%= current_task.user %> <%= time_ago_in_words current_task.created_at %>

<pre>
<%= current_task.body %>
</pre>
